<!DOCTYPE html>
<html>
    <head>
      {% load staticfiles sass_tags %}
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
      <title>Pythonic</title>

      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="{% sass_src 'sass/materialize.scss'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>

    <body class="dash">
      <header>

        <ul id="slide-out" class="side-nav fixed">
            <li>
                <div class="userView">
                    <div class="background">
                        <img style="width:100%; height:100%;" src="{% static 'img/background-dash.png'%}">
                    </div>
                    <a href="#!user"><img class="circle" src="{% static 'img/logo.png' %}"></a>
                    <a href="#!name"><span class="white-text name">Ministerul Sanatatii</span></a>
                    <a href="#!email"><span class="white-text email">presa@ms.ro</span></a>
                </div>
            </li>
            {% block list %}
            {% endblock %}
            <li><a href="#!">First Sidebar Link</a></li>
            <li><a href="#!">Second Sidebar Link</a></li>
        </ul>

        <!-- <nav role="navigation">
          <div class="nav-wrapper">
            <a data-activates="slide-out" class="button-collapse show-on-" href="#!"><img style="margin-top: 17px; margin-left: 5px;" src="https://res.cloudinary.com/dacg0wegv/image/upload/t_media_lib_thumb/v1463989873/smaller-main-logo_3_bm40iv.gif" /></a>

            <ul class="right hide-on-med-and-down">
              <li>
                <a class='right dropdown-button' href='' data-activates='user_dropdown'><i class=' material-icons'>account_circle</i></a>
              </li>
            </ul>

            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          </div>
        </nav> -->

        <nav>
          <div class="nav-wrapper">
            <a style="margin-left: 20px;" class="breadcrumb" href="#!">Home</a>
            {% block breadcrumbs %}

            {% endblock %}
            <div style="margin-right: 20px;" id="timestamp" class="right"></div>
          </div>
        </nav>
      </header>

      <main>
        {% block content %}
        {% endblock %}
      </main>

      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h5 class="white-text">Pythonic</h5>
              <ul id='credits'>
                <li class="white-text">
                  O analiza detaliata a demografiei Romaniei pe baza
                  staticticilor primite de la Guvernul Romaniei
                </li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <span>Made By <a style='font-weight: bold;' href="">
              <a href="https://github.com/emanuelcovaci">Emanuel Covaci, </a>
                 <a href="https://github.com/adriangaro"> Adrian Garovat</a>
            </a></span>
          </div>
        </div>
      </footer>
    </body>

</html>
