{% extends "common/base.html" %}
{% block content %}
    <script>
        var response;
        var aj = $.ajax({
            url: "http://localhost:3000/misc",
            type: 'GET',
            async: true,
            cache: true,
            timeout: 30000,
            error: function(){
            },
            success: function(msg){
                response = msg
            }
        });
    </script>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                      <div class="card-title center-align">
                          Decese prin avort. Evolutia in timp
                      </div>
                        <p>
                          După sincopa din 2010, în 2011 şi 2012 se continuă fenomenul pozitiv de
                          scădere a numărului de decese materne prin avort. Astfel, de la 15 cazuri în 2005
                          decesele scad până la 8 în 2009, cresc la 11 cazuri în 2010 şi scad la 3 decese prin
                          avort în 2012.
                        </p>
                        <br>


                        <p>
                          Numărul totuşi mare al deceselor prin avort, dovedeşte că, pentru populaţia
                          feminină şi nu numai, ar trebui aplicate programe speciale de educaţie sanitară în
                          domeniul planningului familial şi găsite facilităţi de abordare a acestei problematici
                          astfel încât să se ajungă la scăderea numărului deceselor prin avort, care în prezent
                          rămâne printre cele mai mari din Europa
                        </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                          Evolutia ratei de mortabilitate prin avort
                        </div>

                        <p>
                           Romania inregistreaza si cea mai mare rata a mortalitatii materne: 27 decese la 100.000 de nasteri.
                        </p>

                        <br>
                        <p>
                          Rata de mortalitate maternă prin avort coboară de la 0,07 decese la 1000
                          de născuţi vii în 2005 la 0,036‰ în 2009 creşte la 0,0518‰ în 2010 dar scade la
                          0,015‰ în 2012.
                        </p>




                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia numarului de decese prin avort in timp
                    </div>
                    <center>
                        <div id="aborts"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();

                            var totaldata = [];

                            $.each(response, function(i, el){
                                totaldata.push([el["year"], el["abortiondeaths"]]);
                            });

                            total = chart.area(totaldata);
                            total.name("Decese prin avort");
                            total.color("#5140f7");
                            total.zIndex(2.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("aborts");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #aborts {
                            height: 200px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia ratei de mortalitate prin avort (la 1000 de nascuti vii) in timp
                    </div>
                    <center>
                        <div id="abortsperc"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();
                            var minoridata = [];
                            var majoridata = [];
                            var senioridata = [];

                            $.each(response, function(i, el){
                                minoridata.push([el["year"], el["abortiondeathsperc"]]);
                            });

                            minori = chart.area(minoridata);
                            minori.name("Rata de mortalitate prin avort");
                            minori.color("#fc23f1");
                            minori.zIndex(30.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("abortsperc");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #abortsperc {
                            height: 230px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
