{% extends "common/base.html" %}
{% block content %}
    <script>
        var response;
        var aj = $.ajax({
            url: "http://localhost:3000/population",
            type: 'GET',
            async: true,
            cache: true,
            timeout: 30000,
            error: function(){
            },
            success: function(msg){ 
                response = msg
            }
        });
    </script>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Evolutia populatiei in timp
                        </div>
                        <center>
                            <div id="pop"></div>
                        </center>
                        <script>
                
                            $.when(aj).done(function(){
                                chart = anychart.area();
                    
                                var data = [];
                            
                                $.each(response, function(i, el){
                                    data.push([el["year"], el["totalpop"]]);
                                });
                                pop = chart.area(data);
                                
                                // Sets Z-Index of the orange area series.
                                pop.zIndex(30.0001);
                                pop.name("Numar locuitori");
                                var legend = chart.legend();
                                legend.enabled(true);
                                chart.container("pop");
                                chart.draw();
                            });
                    
                        </script>
                        <style>
                            #pop {
                                height: 400px;
                                margin: 0;
                                padding: 0;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Informatii generale. Poulatia
                        </div>
                        <p><a href="https://ro.wikipedia.org/wiki/Demografie">Demografia</a> este studiul dinamicii 
                        populaţiilor umane. Ea cuprinde studiul mărimii, structurii şi distribuţiei populaţiei, precum 
                        şi modul în care o populaţie se modifică în timp în urma naşterilor, deceselor, migraţiei şi 
                        îmbătrânirii. Analiza demografică se poate referi la societăţi întregi sau la grupuri definite 
                        după diferite criterii: nivel de educaţie, naţionalitate, religie, etc.</p>
                        <br>
                        <p>In urma studiilor efectuate, Romania aveain anul 2015 a populatie de aproximativ 19870647 de 
                        locuitori şi este de aşteptat ca în următorii ani să se înregistreze o scădere lentă a populaţiei 
                        ca urmare a sporului natural negativ. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Tranzitia de la rural la urban
                        </div>
                        <p>In Romania, in prima etapa a comunismului, trasaturile principale ale familiei moderne se
                        contureaza: dimensiunea redusa, scaderea numarului de copii, iar pe plan social,
                        au loc rupturi de amploare: colectivizare fortata, migratia sat-oras care rupe
                        legaturile sociale atat de puternice in trecut in mediul rural, impunerea
                        anumitor ideologii, industrializarea agresiva si rapida.</p>
                        <br>
                        <p>Un factor de maximă importanţă pentru configuraţia trecută şi viitoare a resurselor umane
                        din mediul rural, migraţia (mai ales sat – oraş) a cunoscut mari oscilaţii în
                        ultimele patru decenii. Deplasarea populaţiei rurale către oraşe a fost un
                        proces socio-economic obiectiv, observat în mai toate ţările lumii şi care a
                        determinat creşterea gradului de urbanizare a fiecărei ţări, în  concordanţă cu nivelul de dezvoltare
                        generală.</p>
                        <br>
                        <p>Odata cu procesele de migratie, urbanizare, industrializare si cu noul tip de viata
                        sociala cauzata de aceasta, apar modificari in dimensiunea familiei si in modul
                        de gandire. Familia se miscoreaza, copiii devenind un nucleu principal al
                        familiei si nu mai au o importanta ca forta de munca. Desi pus intr-un alt
                        mediu fata de trecut, omul nu isi poate schimba natura si nevoia de apartenenta
                        la un grup: de interes, social.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia populatiei urbane si rurale in timp
                    </div>
                    <center>
                        <div id="urban"></div>
                    </center>
                    <script>
                
                        $.when(aj).done(function(){
                            chart = anychart.area();
                    
                            var urbandata = [];
                            var ruraldata = [];
                            
                            $.each(response, function(i, el){
                                urbandata.push([el["year"], el["urbanpop"]]);
                                ruraldata.push([el["year"], el["ruralpop"]]);
                            });
                            
                            urban = chart.area(urbandata);
                            urban.name("Urban");
                            urban.color("#837eb2");
                            urban.zIndex(30.0001);
                            rural = chart.area(ruraldata);
                            rural.name("Rural");
                            rural.color("#1d9939");
                            
                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("urban");
                            chart.draw();
                        });
                
                    </script>
                    <style>
                        #urban {
                            height: 300px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia populatiei dupa sexe in timp
                    </div>
                    <center>
                        <div id="sex"></div>
                    </center>
                    <script>
                
                        $.when(aj).done(function(){
                            chart = anychart.area();
                    
                            var maledata = [];
                            var femaledata = [];
                            
                            $.each(response, function(i, el){
                                maledata.push([el["year"], el["malepop"]]);
                                femaledata.push([el["year"], el["femalepop"]]);
                            });
                            
                            male = chart.area(maledata);
                            male.name("Male");
                            male.color("#2d6fd8");
                            male.zIndex(30.0001);
                            female = chart.area(femaledata);
                            female.name("Female");
                            female.color("#d81ab5");
                            
                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("sex");
                            chart.draw();
                        });
                
                    </script>
                    <style>
                        #sex {
                            height: 300px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
{% endblock %}