{% extends "common/base.html" %}
{% block content %}
    <script>
        var response;
        var aj = $.ajax({
            url: "http://localhost:3000/misc",
            type: 'GET',
            async: true,
            cache: true,
            timeout: 30000,
            error: function(){
            },
            success: function(msg){
                response = msg
            }
        });
    </script>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Fenomene Demografice. Natalitatea
                        </div>
                      <p>
După 1989, numărul nou-născuţilor din România a scăzut dramatic. Astfel, dacă în urmă cu 25 de ani se năşteau anual 314.746 de copii, două decenii mai târziu, numărul acestora a scăzut aproape la jumătate. Iar evoluţia de la an la an confirmă faptul că românii iau tot mai greu decizia de a face copii. Datele Institutului Naţional de Statistică arată că în ianuarie 2014 s-au născut cu 1.360 de copii mai puţin decât în aceeaşi lună a anului 2013. Cifrele sunt îngrijorătoare în condiţiile în care populaţia României scade cu 5.000 de persoane pe lună, iar numărul pensionarilor a ajuns în prezent la 5,4 milioane. Sociologii estimează că până în anul 2050 populaţia României va scădea la 16 milioane de persoane.
  <a href="http://www.gandul.info/stiri/romania-imbatraneste-cum-a-evoluat-rata-natalitatii-in-ultimii-25-de-ani-de-ce-nu-mai-fac-romanii-copii-12506058"> Citeste mai mult </a>
                      </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Natalitatea in procente
                        </div>
                      <p>
                        În România se nasc 21 de copii pe oră. Deşi pare mult, statisticile ne clasează pe ultimele locuri la nivel mondial la capitolul natalitate. „La noi în ţară, sporul natural s-a prăbuşit după anul 1989, atunci când, odată cu căderea regimului comunist, avortul a devenit legal. Statisticile arată că în 1990 s-au născut cu aproape 50% mai puţini copii decât în anul 1989. Situaţia a devenit şi mai dramatică în ceea ce priveşte natalitatea în anul 1991. Atunci s-au născut cu 70% mai puţini copii decât în anul 1989”, a declarat pentru gândul sociologul Bogdan Voicu.
                      </p>

                        <br>
                      <p>
                        La nivel mondial, România se situează pe antepenultimul loc la capitolul natalitate, potrivit datelor publicate pe site-ul Băncii Mondiale. Statisticile arată că în 2012, la noi în ţară s-au născut 10 copii la 1.000 de locuitori. Aceste cifre plasează ţara noastră pe locul trei în topul ţărilor cu cele mai puţine naşteri la 1.000 de locuitori la nivel mondial.

                      </p>
                      <br>

                      <p>
                        Datele Institutului Naţional de Statistică arată că, în perioada 1947-1955, natalitatea a înregistrat valori ridicate. Rata de natalitate a crescut de la 23,4 născuţi-vii la 1000 de locuitori (1947) la 25,6 născuţi-vii la 1000 de locuitori (1955) fără a atinge nivelul din perioada antebelică (30-35 născuţi-vii la 1000 de locuitori).
                      </p>
                      <br>
                      <p>
                        Începând cu 1956, natalitatea a înregistrat o tendinţă de scădere rapidă, de la 24,2 nou-născuţi la 1.000 de locuitori(1956) la 14,3 nou-născuţi la 1.000 de locuitori (1966), influenţată atât de liberalizarea avorturilor cât şi de cauze de ordin social, economic şi educaţional al femeii, precum accesul larg la învăţământ, participarea ei la activitatea economică, mobilitatea profesională şi socială generată de industrializare şi de urbanizare.
  <a href="http://www.gandul.info/stiri/romania-imbatraneste-cum-a-evoluat-rata-natalitatii-in-ultimii-25-de-ani-de-ce-nu-mai-fac-romanii-copii-12506058"> Citeste mai mult </a>
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia numarului de nou nascuti
                    </div>
                    <center>
                        <div id="newborn"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();

                            var totaldata = [];

                            $.each(response, function(i, el){
                                totaldata.push([el["year"], el["bornalive"]]);
                            });

                            total = chart.area(totaldata);
                            total.name("Nou nascuti");
                            total.color("#5140f7");
                            total.zIndex(2.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("newborn");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #newborn {
                            height: 400px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia natalitatii (numarul de nou nascuti la 100 de locuitori)
                    </div>
                    <center>
                        <div id="natality"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();
                            var minoridata = [];
                            var majoridata = [];
                            var senioridata = [];

                            $.each(response, function(i, el){
                                minoridata.push([el["year"], el["bornaliveperc"]]);
                            });

                            minori = chart.area(minoridata);
                            minori.name("Natalitate");
                            minori.color("#fc23f1");
                            minori.zIndex(30.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("natality");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #natality {
                            height: 400px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
