<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles sass_tags %}
  <link rel="manifest" href="/manifest.json">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Demografie</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% sass_src 'sass/materialize.scss'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="{% static 'js/controller.js' %}"></script>
  <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://cdn.anychart.com/js/7.13.0/anychart-bundle.min.js"></script>
  <script>
    var hostname = location.hostname;
  </script>
  <link rel="stylesheet" href="https://cdn.anychart.com/css/7.13.0/anychart-ui.min.css" />
</head>
<body>
  <nav role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Demografie</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Acasa</a></li>
         <li><a href="/demografia">Demografia</a></li>
        <li><a href="/tranzitia">Tranzitia</a></li>
        <li><a href="/istoric">Istoric</a></li>
          <li><a href="/statistics/general">Statistici</a></li>
          <li><a href="/donatii">Donatii</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
         <li><a href="/">Acasa</a></li>
         <li><a href="/demografia">Demografia</a></li>
        <li><a href="/tranzitia">Tranzitia</a></li>
        <li><a href="/istoric">Istoric</a></li>
           <li><a href="/statistics/general">Statistici</a></li>
           <li><a href="/donatii">Donatii</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  {% block content %}
  {% endblock %}

<footer class="page-footer ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Demografie.me</h5>
          <p class="grey-text text-lighten-4">O analiza detaliata a demografiei Romaniei pe baza
          staticticilor primite de la Guvernul Romaniei </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Meniu</h5>
          <ul>
            <li><a class="white-text" href="/">Acasa</a></li>
            <li><a class="white-text" href="/demografia">Demografia</a></li>
            <li><a class="white-text" href="/istoric">Istoric</a></li>
            <li><a class="white-text" href="/statistics/general">Statistici</a></li>
            <li><a class="white-text" href="/donatii">Donatii</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="/contact">Contacteaza-ne!</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3">
        <a href="https://github.com/emanuelcovaci">Emanuel Covaci, </a>
           <a href="https://github.com/adriangaro"> Adrian Garovat</a>
      </a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97079051-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>
