<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles sass_tags %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Pythonic</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% sass_src 'sass/materialize.scss'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://cdn.anychart.com/js/7.13.0/anychart-bundle.min.js"></script>
   <link rel="stylesheet" href="https://cdn.anychart.com/css/7.13.0/anychart-ui.min.css" />
</head>
<body>
  <nav role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Pythonic</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Acasa</a></li>
         <li><a href="/demografia">Demografia</a></li>
        <li><a href="/tranzitia">Tranzitia</a></li>
        <li><a href="/istoric">Istoric</a></li>
          <li><a href="/statistics/general">Statistici</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
         <li><a href="/">Acasa</a></li>
         <li><a href="/demografia">Demografia</a></li>
        <li><a href="/tranzitia">Tranzitia</a></li>
        <li><a href="/istoric">Istoric</a></li>
           <li><a href="/statistics/general">Statistici</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  {% block content %}
  {% endblock %}

<footer class="page-footer ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Pythonic</h5>
          <p class="grey-text text-lighten-4">O analiza detaliata a demografiei Romaniei pe baza
          staticticilor primite de la Guvernul Romaniei </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Meniu</h5>
          <ul>
            <li><a class="white-text" href="/">Acasa</a></li>
            <li><a class="white-text" href="/demografia">Demografia</a></li>
            <li><a class="white-text" href="/istoric">Istoric</a></li>
            <li><a class="white-text" href="/statistics">Satatistici</a></li>
            <li><a class="white-text" href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="/contact">Contacteaza-ne!</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3">
        <a href="https://github.com/emanuelcovaci">Emanuel Covaci, </a>
           <a href="https://github.com/adriangaro"> Adrian Garovat</a>
      </a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->

  </body>
</html>
