{% extends "common/base.html" %}
{% block content %}
    <script>
        var response;
        var aj = $.ajax({
            url: "http://46.101.115.37:3000/misc",
            type: 'GET',
            async: true,
            cache: true,
            timeout: 30000,
            error: function(){
            },
            success: function(msg){
                response = msg
            }
        });
    </script>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Fenomene Demografice. Avort
                        </div>
                        <p>
                          Avortul : intreruperea voita, la cerere, a unei sarcini nedorite.
                        </p>

                        <p>
                          Liberalizarea avortului la sfârşitul anului 1989 a deschis însă o adevărată cutie a Pandorei. În anul 1990 a fost o explozie a întreruperilor de sarcină: aproximativ un milion de avorturi au fost înregistrate atunci, un număr de trei ori mai mare decât naşterile. Medicii îşi amintesc şi acum cu groază disperarea femeilor care veneau la spital.
                        </p>
                        <br>
                        <p>
                          CIA World Factbook spune că populaţia României s-a micşorat cu până la 2,74 pe an după liberalizarea avortului. Rata de creştere a populaţiei era în 2012 de –0.26%.

Conform datelor Centrului de Calcul, Statistică Sanitară şi Documentare din Ministerul Sănătăţii, între 1958 şi 2008, în România s-au avortat 22.178.906 copii, un număr mai mare decât întreaga populaţie a ţării, care la momentul publicării acestor cifre era de 21.504.442 persoane.
<a href="http://stiripentruviata.ro/romania-cea-mai-mare-rata-avortului-si-mortalitatii-materne-din-ue-pusa-pe-seama-finantarilor-americane/"> Citeste mai mult </a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Evolutia ratei de avort
                        </div>
                        <p>
                          România a ajuns repede pe primul loc în lume la numărul de întreruperi de sarcină, dar şi la miile de copii din orfelinate, fapt care a atras atenţia guvernelor străine. Daniela Drăghici reprezenta atunci în ţara noastră o organizaţie americană neguvernamentală pentru sănătatea reproducerii.
                        </p>
                        <br>
                        <p>
Date publicate în 2012 de Organizaţia Mondială a Sănătăţii arată că România are ce mai ridicată rată de avort din Europa: 480 de avorturi la 1.000 de naşteri (aproape o treime din copiii concepuţi sunt avortaţi). E de peste două ori mai mare decât rata medie în UE.
<a href="http://stiripentruviata.ro/romania-cea-mai-mare-rata-avortului-si-mortalitatii-materne-din-ue-pusa-pe-seama-finantarilor-americane/"> Citeste mai mult </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia numarului de avorturi in timp
                    </div>
                    <center>
                        <div id="aborts"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();

                            var totaldata = [];

                            $.each(response, function(i, el){
                                totaldata.push([el["year"], el["abortions"]]);
                            });

                            total = chart.area(totaldata);
                            total.name("Avorturi");
                            total.color("#5140f7");
                            total.zIndex(2.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("aborts");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #aborts {
                            height: 300px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia ratei de avort (la 1000 de nascuti vii) in timp
                    </div>
                    <center>
                        <div id="abortsperc"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();
                            var minoridata = [];
                            var majoridata = [];
                            var senioridata = [];

                            $.each(response, function(i, el){
                                minoridata.push([el["year"], el["abortionsperc"]]);
                            });

                            minori = chart.area(minoridata);
                            minori.name("Rata de avort");
                            minori.color("#fc23f1");
                            minori.zIndex(30.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("abortsperc");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #abortsperc {
                            height: 300px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
