{% extends "common/base.html" %}
{% block content %}
    <script>
        var response;
        var aj = $.ajax({
            url: "http://localhost:3000/misc",
            type: 'GET',
            async: true,
            cache: true,
            timeout: 30000,
            error: function(){
            },
            success: function(msg){
                response = msg
            }
        });
    </script>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Copii nascuti morti
                        </div>
                      <p>
                        În România, mortalitatea infantilă este în continuare de peste două ori mai mare faţă de media europeană de 4,1 la mie, deşi în ultimele decenii numărul deceselor înregistrate la nivel naţional a scăzut semnificativ.
                      </p>
                      <br>
                      <p>
                        Astfel, dacă în Uniunea Europeană sunt patru decese în rândul copiilor sub un an la mia de născuţi-vii, România înregistrează nouă decese la mia de născuţi-vii în aceeaşi grupă de vârstă.
                      </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                          Rata de mortalitate la nou nascutii
                        </div>
                      <p>
                        Din 1990 până în prezent, rata mortalităţii infantile a scăzut, de la 26,9 la 9,5 decese la 1000 de nou-născuţi vii, potrivit unui studiu european. Cu toate acestea, România încă se clasează între ţările europene cu o rată a mortalităţii infantile ridicată, respectiv 9,4 la 1000 de nou născuţi vii, faţă de rata medie europeană de 4,1 la mie, arată documentul, informează Mediafax.
                      </p>
                      <br>
                      <p>
                        700 de copii au murit la naştere în România în 2015, reprezentând o rată de 4,1 la mia de naşteri, potrivit estimărilor dintr-o serie de articole publicate  în jurnalul ştiinţific The Lancet.  70 de decese au avut loc chiar în timpul naşterii, reprezentând o rată de 0,4. În urmă cu 15 ani, 1.800 de copii au murit la naştere în ţara noastră (rata de 6,8 la mia de naşteri), reducerea anuală a ratei în această perioadă fiind aşadar de 3,2%. 
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia numarului de nascuti morti in timp
                    </div>
                    <center>
                        <div id="aborts"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();

                            var totaldata = [];

                            $.each(response, function(i, el){
                                totaldata.push([el["year"], el["borndead"]]);
                            });

                            total = chart.area(totaldata);
                            total.name("Nr. nascuti morti");
                            total.color("#5140f7");
                            total.zIndex(2.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("aborts");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #aborts {
                            height: 300px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia ratei de mortalitate nou nascuti (la 1000 de nascuti vii + morti) in timp
                    </div>
                    <center>
                        <div id="abortsperc"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();
                            var minoridata = [];
                            var majoridata = [];
                            var senioridata = [];

                            $.each(response, function(i, el){
                                minoridata.push([el["year"], el["borndeadperc"]]);
                            });

                            minori = chart.area(minoridata);
                            minori.name("Rata de mortalitate nou nascuti");
                            minori.color("#fc23f1");
                            minori.zIndex(30.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("abortsperc");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #abortsperc {
                            height: 300px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
