{% extends "common/base.html" %}
{% block content %}
    <script>
        var response;
        var aj = $.ajax({
            url: "http://localhost:3000/misc",
            type: 'GET',
            async: true,
            cache: true,
            timeout: 30000,
            error: function(){
            },
            success: function(msg){
                response = msg
            }
        });
    </script>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Fenomene Demografice. Fertilitate
                        </div>
                        <p>
                          Între fertilitate şi natalitate există o legătură directă, intensitatea fertilităţii
  determinând nivelul natalităţii. Evoluţia fertilităţii este influenţată, pe lângă
  factorii de comportament demografic şi de unele modificări ale numărului şi
  structurii contingentului feminin fertil.
                        </p>
                          <br>
                        <p>
                          Prin analizarea datelor de recensământ din perioada 1956-2002 privind
                          contingentul feminin fertil se poate observa că ponderea populaţiei fertile a
                          scăzut, până în 2002, mai rapid decât cea a populaţiei feminine în total
                          populaţie. În perioada recentă, după 1992, procentul populaţiei feminine în
                          total populaţie tinde să crească datorită acţiunii conjugate a doi factori: pe de o
                          parte scăderea numărului de naşteri şi deci aportul redus al vârstelor tinere
                          unde predomină bărbaţii (raportul de masculinitate este de aproximativ 103
                          bărbaţi la 100 femei) şi pe de altă parte creşterea decalajului de durată medie
                          a vieţii (7 ani) dintre cele două sexe, care avantajează femeile.
                        </p>
                        <br>
                        <p>
                          Schimbările de comportament fertil suferite în cursul tranziţiei demografice pot
                          fi puse în evidenţă de ratele generale de fertilitate, care sunt expresia
                          raportului dintre numărul născuţilor-vii aduşi pe lume de femeile din grupa de
                          vârstă 15-49 ani.
                          </p>
                          <br>
                          <p>
                            Nivelul fertilităţii în anul 2010 reprezintă aproape 1/3 din nivelul fertilităţii din
                            anul 1960, iar rata totală a fertilităţii s-a redus, în aceeaşi perioadă, de la 2,3
                            copii la o femeie la 1,3.
                            <a href="http://www.insse.ro/cms/files/publicatii/Evolutia%20natalitatii%20si%20fertilitatii%20in%20Romania_n.pdf">Citeste mai mult </a>
                          </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                          Evolutia gravidelor
                        </div>
                  <p>
                    Datele statistice privind natalitatea şi situaţia gravidelor din România au fost catalogate drept “îngrijorătoare”
                  </p>

                        <br>
                        <p>
                           „Faţă de 1930, când erau înregistraţi 35 de născuţi vii la mia de locuitori, în anul 2014 avem 8,3 născuţi vii (185.785 copii), menţinându-se deficitul negativ. Din total, un sfert din femei au născut fără să fi mers vreodată la un consult, astfel că peste 41.000 de gravide au născut fără nicio consultaţie prenatală. Media naşterilor premature este dublă faţă de ţările din UE”.
                        </p>
                        <br>
                        <p>
                          Tot mai multe mame de nici 15 ani Dar nu numai că se nasc puţini copii raportat la populaţie, ci calitatea şi sănătatea acestora pot fi serios afectate, din simplul fapt că gravidele nu se prezintă deloc la medic înainte de naştere
                          <a href="http://www.clujmanifest.ro/stiri/alarma-in-romania-nasteri-putine-gravide-netratate-si-mortalitate-infantila-mare/"> Citeste mai mult </a>
                          </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia fertilitati (numarul de copii nascuti vii la 1000 de femei 15-49 ani) in timp
                    </div>
                    <center>
                        <div id="fertility"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();

                            var totaldata = [];

                            $.each(response, function(i, el){
                                totaldata.push([el["year"], el["fertilityperc"]]);
                            });

                            total = chart.area(totaldata);
                            total.name("Fertilitatea");
                            total.color("#5140f7");
                            total.zIndex(2.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("fertility");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #fertility {
                            height: 500px;
                            margin: 0;
                            padding: 0;
                        }
                        @media only screen and (max-width: 599px){
                            #fertility {
                                height: 230px !important;
                                margin: 0;
                                padding: 0;
                            }
                          }
                    </style>
                </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia numarului de gravide luate in evidenta in timp
                    </div>
                    <center>
                        <div id="pregnant"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();
                            var minoridata = [];
                            var majoridata = [];
                            var senioridata = [];

                            $.each(response, function(i, el){
                                minoridata.push([el["year"], el["pregnant"]]);
                            });

                            minori = chart.area(minoridata);
                            minori.name("Nr. gravide");
                            minori.color("#fc23f1");
                            minori.zIndex(30.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("pregnant");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #pregnant {
                            height: 423px;
                            margin: 0;
                            padding: 0;
                        }

                        @media only screen and (max-width: 599px){
                            #pregnant {
                                height: 230px !important;
                                margin: 0;
                                padding: 0;
                            }
                          }
                    </style>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
