{% extends "common/base.html" %}
{% block content %}
    <script>
        var response;
        var aj = $.ajax({
            url: "http://" + hostname + ":3000/misc",
            type: 'GET',
            async: true,
            cache: true,
            timeout: 30000,
            error: function(){
            },
            success: function(msg){
                response = msg
            }
        });
    </script>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                          Decese la copii sub 1 an
                        </div>
                      <p>
                        In ultimul timp decesele in cazul copiilor sub un an a scazut intr-un ritm destul de alert.
                        In anul 1970 se inregistra un record in numarul copiilor care mureau inainte sa implieaneasca 1 an: 21110 de morti, iar de atunci s-a inregistart
                        un declin continu.
                        Astfel in anul 2015 au fost inregistrate doar 1493 de decese.
                      </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Evolutia ratei de mortabilitate la copii sub 1 an
                        </div>
                      <p>
                        In trecut rata mortabilitatii la copii sub 1 an era foarte mare.
                        In anul 1970 rata mortabilitatii era de 49.4, iar in anul 2015 s-a ajuns dupa un declin continu ca rata mortabilitatii sa fie 8

                      </p>
                      <br>
                      <p>
                        Ce mai mare parte a deceselor până la vârsta de 1 an, în România (2013) se produc după prima lună de viață, principalele cauze de mortalitate fiind bolile respiratorii, urmate de anomaliile congenitale și de cauzele perinatale.
                      </p>


                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia numarului de decese la copii sub 1 an in timp
                    </div>
                    <center>
                        <div id="aborts"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();

                            var totaldata = [];

                            $.each(response, function(i, el){
                                totaldata.push([el["year"], el["under1yeardead"]]);
                            });

                            total = chart.area(totaldata);
                            total.name("Decese copii sub 1 an");
                            total.color("#5140f7");
                            total.zIndex(2.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("aborts");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #aborts {
                            height: 200px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia ratei de mortalitate la copii sub 1 an (la 1000 de nascuti vii) in timp
                    </div>
                    <center>
                        <div id="abortsperc"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();
                            var minoridata = [];
                            var majoridata = [];
                            var senioridata = [];

                            $.each(response, function(i, el){
                                minoridata.push([el["year"], el["under1yeardeadperc"]]);
                            });

                            minori = chart.area(minoridata);
                            minori.name("Rata de mortalitate la copii sub 1 an");
                            minori.color("#fc23f1");
                            minori.zIndex(30.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("abortsperc");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #abortsperc {
                            height: 200px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
