{% extends "common/base.html" %}
{% block content %}
    <script>
        var response;
        var aj = $.ajax({
            url: "http://46.101.115.37:3000/misc",
            type: 'GET',
            async: true,
            cache: true,
            timeout: 30000,
            error: function(){
            },
            success: function(msg){
                response = msg
            }
        });
    </script>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Casatorii & Divorturi
                        </div>
                        <p>
                          Numărul căsătoriilor în România a scăzut de la 149.000 în anul 2008 la 115.800 în anul 2010
                        </p>
                        <br>
                        <p>
                          Vârsta medie la care se căsătoresc românii este de 30,9 ani la bărbați și 27,5 ani la femei.
                        </p>
                        <br>
                        <p>
                          Numărul divorțurilor a scăzut și el, de la 35.700 în anul 2008 la 32.600 în anul 2010, la aproximativ 31.500 în anul 2012 și la doar 28.500 în anul 2013
                        </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                          Evolutia casatoriilor si divorturilor
                        </div>
                      <p>
                        Aproximativ 105.000 de cupluri s-au căsătorit in anul 2011, dar acest număr reprezintă un minim istoric faţă de anul 2007
                      </p>

                        <br>
                        <p>
                          Urmează din 1991 până în 1994 o scădere cu aproximativ două promile a ratei nupțialității, după care se constată o creștere care atinge maximul în 2007, când această rată este aproape de pragul ailor 1990. Explicația acestui fenomen o regăsim în LEGEA nr.396 din 30 octombrie 2006, prin care se acorda un sprijin financiar echivalent cu 200 de euro, calculați în lei la cursul BNR, pe care îi primea fiecare cuplu ce se căsătorea pentru prima dată, începând cu 1 ianuarie 2007. Între timp, guvernul Boc a suspendat acordare acestui sprijin în anul 2010.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia numarului de casatorii si divorturi in timp
                    </div>
                    <center>
                        <div id="aborts"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();

                            var totaldata1 = [];
                            var totaldata2 = [];

                            $.each(response, function(i, el){
                                totaldata1.push([el["year"], el["marriages"]]);
                                totaldata2.push([el["year"], el["divorces"]]);
                            });

                            total1 = chart.area(totaldata1);
                            total1.name("Casatorii");
                            total1.color("#35e038");
                            total1.zIndex(2.0001);

                            total2 = chart.area(totaldata2);
                            total2.name("Divorturi");
                            total2.color("#d62020");
                            total2.zIndex(3.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("aborts");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #aborts {
                            height: 300px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia ratei de casatorie si divort (la 1000 de locuitori) in timp
                    </div>
                    <center>
                        <div id="abortsperc"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();
                            var totaldata1 = [];
                            var totaldata2 = [];

                            $.each(response, function(i, el){
                                totaldata1.push([el["year"], el["marriagesperc"]]);
                                totaldata2.push([el["year"], el["divorcesperc"]]);
                            });

                            total1 = chart.area(totaldata1);
                            total1.name("Rata de casatorie");
                            total1.color("#35e038");
                            total1.zIndex(2.0001);

                            total2 = chart.area(totaldata2);
                            total2.name("Rata de divort");
                            total2.color("#d62020");
                            total2.zIndex(3.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("abortsperc");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #abortsperc {
                            height: 300px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
