{% extends "common/base.html" %}
{% block content %}
    <script>
        var response;
        var aj = $.ajax({
            url: "http://localhost:3000/misc",
            type: 'GET',
            async: true,
            cache: true,
            timeout: 30000,
            error: function(){
            },
            success: function(msg){
                response = msg
            }
        });
    </script>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Mortalitatea in Romania
                        </div>
                          <p>
                            Mortalitatea generală, ca fenomen demografic, se referă la frecvenţa
                            deceselor într-o anumită populaţie şi pentru un interval delimitat de timp. Spre
                            deosebire de natalitate, mortalitatea constituie componenta negativă a mişcării
                            naturale a populaţiei. Ea influenţează creşterea/scăderea numerică a
                            populaţiei şi structura acesteia pe grupe de vârstă.
                          </p>
                          <br>
                          <p>
                            Transformările suferite de România după ce de-al doilea război mondial, au
                            determinat ca din punct demografic ţara noastră să se afle într-o fază
                            intermediară a tranziţiei demografice, cu un decalaj de câteva decenii faţă de
                            ţările din Europa Occidentală. Schimbările sociale şi economice au influenţat
                            puternic populaţia şi structura populaţiei precum şi evoluţia natalităţii şi a
                            mortalităţii
                          </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Evolutia mortalitatii
                        </div>
                      <p>
                        Mortalitatea a avut în România, în utimele şase decenii, mişcări care prin
                        amplitudinea lor îi conferă o anume specificitate în raport cu celelalte ţări
                        europene. Începând cu 1936, când ratele de mortalitate au fost de 19,3‰, s-a
                        înregistrat o tendinţă de diminuare a mortalităţii până în 1940 (18,9‰).
                      </p>
                      <br>
                      <p>
                        După cel de-al doilea război mondial s-a trecut la îmbunătăţirea asistenţei
                        sanitare pe scară largă. Accesul populaţiei la serviciile sanitare au determinat,
                        în perioada 1947-1954, o scădere bruscă a mortalităţii generale de la 22,0‰
                        la 11,5‰. Între anii 1955-1959 rata de mortalitate a oscilat în jurul valorii de
                        10,0 decese la 1000 locuitori. După anul 1960, mortalitatea a continuat trendul
                        descendent, variind între 8,1‰ şi 9,2‰. În anii ’70 rata medie a fost de 9,5
                        decese la 1000 de locuitori, crescând uşor în anii ’80 la 10,5‰.
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia numarului de decese in timp
                    </div>
                    <center>
                        <div id="dead"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();

                            var totaldata = [];

                            $.each(response, function(i, el){
                                totaldata.push([el["year"], el["deceased"]]);
                            });

                            total = chart.area(totaldata);
                            total.name("Decese");
                            total.color("#5140f7");
                            total.zIndex(2.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("dead");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #dead {
                            height: 400px;
                            margin: 0;
                            padding: 0;
                        }
                      @media only screen and (max-width: 599px){
                          #dead {
                              height: 230px !important;
                              margin: 0;
                              padding: 0;
                          }
                        }

                    </style>
                </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia mortalitatii (numarul de decese la 1000 de locuitori) in timp
                    </div>
                    <center>
                        <div id="mortality"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();
                            var minoridata = [];
                            var majoridata = [];
                            var senioridata = [];

                            $.each(response, function(i, el){
                                minoridata.push([el["year"], el["deceasedperc"]]);
                            });

                            minori = chart.area(minoridata);
                            minori.name("Mortalitatea");
                            minori.color("#fc23f1");
                            minori.zIndex(30.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("mortality");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #mortality {
                            height: 400px;
                            margin: 0;
                            padding: 0;
                        }

                        @media only screen and (max-width: 599px){
                            #mortality {
                                height: 230px !important;
                                margin: 0;
                                padding: 0;
                            }
                          }
                    </style>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
