{% extends "common/base.html" %}
{% block content %}
    <script>
        var response;
        var aj = $.ajax({
            url: "http://localhost:3000/misc",
            type: 'GET',
            async: true,
            cache: true,
            timeout: 30000,
            error: function(){
            },
            success: function(msg){
                response = msg
            }
        });
    </script>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Sportul Natural
                        </div>
                        <p>
                          Conform statisticii, la nivelul lunii august 2016, comparativ cu aceeași perioadă din anul anterior, numărul născuților-vii a fost mai mare cu 3.612, iar numărul persoanelor care au decedat a fost cu mai mare cu 529.

                        </p>
                        <br>
                        <p>
                          Sporul natural a fost negativ atât în luna august 2016 (de 201 persoane), cât și în luna august 2015 (de 3.284 persoane).
                        </p>
                        <br>
                        <p>
                          Potrivit INS, în luna august 2016 s-a înregistrat nașterea a 19.603 copii, cu 3.230 mai mulți copii decât în luna iulie 2016. Pe de altă parte, numărul persoanelor ale căror decese au fost înregistrate în aceeași perioadă a fost de 19.804, cu 838 mai multe decât în luna iulie 2015.
                        </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            Rata sporului natural
                        </div>
                        <p>
                          In anul 1970 in Romania rata sporului natural era de 11.6 la 1000 de locuitori,iar de atunci sporul natural a inregistrat o sacadere contiuna, astfel in anul 2015 sporul natural era de -3.3.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia sporului natural in timp
                    </div>
                    <center>
                        <div id="aborts"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();

                            var totaldata = [];

                            $.each(response, function(i, el){
                                totaldata.push([el["year"], el["naturalincrease"]]);
                            });

                            total = chart.area(totaldata);
                            total.name("Sporul natural");
                            total.color("#5140f7");
                            total.zIndex(2.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("aborts");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #aborts {
                            height: 250px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                    <div class="card-title center-align">
                        Evolutia ratei de sporului natural (la 1000 de locuitori) in timp
                    </div>
                    <center>
                        <div id="abortsperc"></div>
                    </center>
                    <script>

                        $.when(aj).done(function(){
                            chart = anychart.area();
                            var minoridata = [];
                            var majoridata = [];
                            var senioridata = [];

                            $.each(response, function(i, el){
                                minoridata.push([el["year"], el["naturalincreaseperc"]]);
                            });

                            minori = chart.area(minoridata);
                            minori.name("Rata sporului natural");
                            minori.color("#fc23f1");
                            minori.zIndex(30.0001);

                            var legend = chart.legend();
                            legend.enabled(true);
                            chart.container("abortsperc");
                            chart.draw();
                        });

                    </script>
                    <style>
                        #abortsperc {
                            height: 250px;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
