{% extends "base_main.html" %}
{% load staticfiles sass_tags %}
{% block content %}

  <div class="section no-pad-top" id="index-banner">
    <div class="carousel carousel-slider center carousel-main" data-indicators="true">
        <div class="carousel-fixed-item center" style="background: rgba(0,0,0,0.4); bottom:62px;">
          <h1 class="header center white-text text-size  ">Demografia Romaniei</h1>
          <div class="row center">
            <h5 class="header col s12 white-text ">O analiza detaliata asupra demografiei Romaniei</h5>
          </div>
        </div>
        <div class="carousel-item carousel-img-wrapper " href="#one!">
         <img src="{% static 'img/timisoara3.jpg'%}">
        </div>
        <div class="carousel-item carousel-img-wrapper" href="#two!">
          <img src="{% static 'img/protest.jpg'%}">
        </div>
        <div class="carousel-item carousel-img-wrapper" href="#three!">
          <img src="{% static 'img/casa.jpg'%}">
        </div>
        <div class="carousel-item carousel-img-wrapper" href="#four!">
          <img src="{% static 'img/timisoara.jpg'%}">
        </div>
      </div>
    </div>

  </div>


  <div id="sa_incepem" class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center accent-text"><i class="material-icons">timeline</i></h2>
            <h5 class="center">Ce este demografia ?</h5>

            <p class="light">Demografia este studiul dinamicii populațiilor umane. Ea cuprinde studiul mărimii, structurii și distribuției populației, precum și modul în care o populație se modifică în timp în urma nașterilor, deceselor, migrației și îmbătrânirii. Analiza demografică se poate referi la societăți întregi sau la grupuri definite după diferite criterii: nivel de educație, naționalitate, religie, etc.
            <a href="/demografia">mai mult</a>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center accent-text"><i class="material-icons">clear_all</i></h2>
            <h5 class="center">Tranziția demografică</h5>

            <p class="light">Contrar prezicerilor lui Malthus, dar în aceeași linie cu ideile sale, creșterea națională a populației în mai toate țările dezvoltate, a ajuns pe undeva pe la zero, fără să fie ținute în frâu de foamete sau sărăcie, deoarece oamenii din țările dezvoltate tind să aibă mai puțini copii. Indicele de creștere a populației a scăzut, în ciuda faptului că speranța de viață a crescut în acele țări.
            <a href="/tranzitia">mai mult</a>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center accent-text"><i class="material-icons">linear_scale</i></h2>
            <h5 class="center">Istoric</h5>
            <p class="light">Cartea Natural and Political Observations ... upon the Bills of Mortality, publicată în 1662 de către John Graunt, conține un tabel al vieții destul de primitiv. Matematicieni precum Edmond Halley, au dezvoltat tabelul sub forma matematicii asigurărilor de viață. La sfârșitul secolului XVIII, Thomas Malthus a tras concluzia că populațiile neverificate sunt ...
            <a href="/istoric">mai mult</a>
            </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <!--  Scripts-->
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js'%}"></script>
  <script src="{% static 'js/init.js'%}"></script>
  <script>
      $('.carousel.carousel-slider').carousel({fullWidth: true});
      window.setInterval(function () {
          $('.carousel').carousel('next');
      }, 3200);
  </script>
 {% endblock %}
