<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles sass_tags %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% sass_src 'sass/materialize.scss'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="background-color">
  <nav role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>



  <div class="container" style="margin-top: 15px;">
    <div class="row">
      <div class="col s12 m10 l10 offset-m1 offset-l1">
        <div class="card">
            <div class="card-content">

             <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in arcu eget purus ullamcorper suscipit ac et libero. Cras vel quam at ex ultrices molestie. Nulla facilisis nibh eget arcu vehicula venenatis. Sed pulvinar massa facilisis mi congue tincidunt. Ut dolor erat, sodales tristique sollicitudin a, tristique non orci. Sed fringilla erat ac tempor luctus. Duis sit amet molestie risus, a fermentum felis. Nullam faucibus suscipit est nec pharetra. Cras vitae ligula sit amet purus elementum efficitur ut non odio. Cras et ultrices lorem, at ultricies libero. Nulla facilisi. Nam vel velit eget eros suscipit tempus et sed sapien. Nulla porttitor ornare ante, a tristique purus aliquam id.


             </p>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in arcu eget purus ullamcorper suscipit ac et libero. Cras vel quam at ex ultrices molestie. Nulla facilisis nibh eget arcu vehicula venenatis. Sed pulvinar massa facilisis mi congue tincidunt. Ut dolor erat, sodales tristique sollicitudin a, tristique non orci. Sed fringilla erat ac tempor luctus. Duis sit amet molestie risus, a fermentum felis. Nullam faucibus suscipit est nec pharetra. Cras vitae ligula sit amet purus elementum efficitur ut non odio. Cras et ultrices lorem, at ultricies libero. Nulla facilisi. Nam vel velit eget eros suscipit tempus et sed sapien. Nulla porttitor ornare ante, a tristique purus aliquam id.


              </p>

              <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in arcu eget purus ullamcorper suscipit ac et libero. Cras vel quam at ex ultrices molestie. Nulla facilisis nibh eget arcu vehicula venenatis. Sed pulvinar massa facilisis mi congue tincidunt. Ut dolor erat, sodales tristique sollicitudin a, tristique non orci. Sed fringilla erat ac tempor luctus. Duis sit amet molestie risus, a fermentum felis. Nullam faucibus suscipit est nec pharetra. Cras vitae ligula sit amet purus elementum efficitur ut non odio. Cras et ultrices lorem, at ultricies libero. Nulla facilisi. Nam vel velit eget eros suscipit tempus et sed sapien. Nulla porttitor ornare ante, a tristique purus aliquam id.


             </p>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in arcu eget purus ullamcorper suscipit ac et libero. Cras vel quam at ex ultrices molestie. Nulla facilisis nibh eget arcu vehicula venenatis. Sed pulvinar massa facilisis mi congue tincidunt. Ut dolor erat, sodales tristique sollicitudin a, tristique non orci. Sed fringilla erat ac tempor luctus. Duis sit amet molestie risus, a fermentum felis. Nullam faucibus suscipit est nec pharetra. Cras vitae ligula sit amet purus elementum efficitur ut non odio. Cras et ultrices lorem, at ultricies libero. Nulla facilisi. Nam vel velit eget eros suscipit tempus et sed sapien. Nulla porttitor ornare ante, a tristique purus aliquam id.


              </p>

            </div>
    <br><br>
        </div></div></div></div>
    <div class="section">

    </div>
  </div>

  <footer class="page-footer ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js'%}"></script>
  <script src="{% static 'js/init.js'%}"></script>

  </body>
</html>
