<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles sass_tags %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Pythonic</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% sass_src 'sass/materialize.scss'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="background-color">
  <nav role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>



  <div class="container" style="margin-top: 15px;">
    <div class="row">
      <div class="col s12 m10 l10 offset-m1 offset-l1">
        <div class="card">
            <div class="card-content">
            <div class="accent-text">
              <center>
                <h4>
                 Tranziția demografică
                </h4>
              </center>
            </div>
              <br>

                <!--<div class="article-image" href="#one!">-->
         <img style="width: 100%; height: auto;" src="{% static 'img/demography.jpg'%}">
        <!--</div>-->

            <p>
              Contrar prezicerilor lui Malthus, dar în aceeași linie cu ideile sale, creșterea națională a populației în mai toate țările dezvoltate, a ajuns pe undeva pe la zero, fără să fie ținute în frâu de foamete sau sărăcie, deoarece oamenii din țările dezvoltate tind să aibă mai puțini copii. Indicele de creștere a populației a scăzut, în ciuda faptului că speranța de viață a crescut în acele țări. Această matriță, de creștere lentă, sau de inexistență a creșterii, în țări preindustrializate, urmată de o creștere rapidă, urmată apoi de o creștere lentă odată ce fenomenul se termină se numește tranziție demografică.
            </p>
              <br>
              <p>
                Același șablon se observă în mult mai multe țări aflate în dezvoltare, astfel încât ea să fie diminuată în secolul următor, până când se va ajunge la un punct fix. Schimbarea s-ar putea face și cu migrări masive de populație, din zone mai mult ocupate către cele mai puțin ocupate. În Statele Unite se asteaptă ca până în 2015, numărul nou-născuților să scadă și la fel să se întâmple și cu copiii sub 15 ani până în 2025. Se așteaptă ca până în 2070, populația Terrei să crească până la 9 miliarde de locuitori.


              </p>

            </div>
    <br><br>
        </div></div></div></div>
    <div class="section">

    </div>
  </div>

  <footer class="page-footer ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js'%}"></script>
  <script src="{% static 'js/init.js'%}"></script>

  </body>
</html>
